<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>void bb's!</title>
  </head>
  <body>
    void bb's!
    <a href="https://imgur.com/xMaFvNX"
      ><img src="https://i.imgur.com/xMaFvNXm.jpg" title="source: imgur.com"
    /></a>
  </body>
</html>
