<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>jo's fave cats</h1>
    my favorite cats in no particular order, for no particular reason. maybe.
    <ul>
      <li><a href="http://localhost:3000/cat1">tortie's!</a></li>
      <li><a href="http://localhost:3000/cat2">muted tortie's!</a></li>
      <li><a href="http://localhost:3000/cat3">void bb's!</a></li>
      <li><a href="http://localhost:3000/cat4">calico's!</a></li>
      <li><a href="http://localhost:3000/cat5">grey tabbies!</a></li>
    </ul>
  </body>
</html>
